:root {
  --Moderate_white: rgb(227, 227, 227);
  --saumon: rgb(155, 76, 76);
  --lightBlue: rgb(200, 233, 244);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: Roboto;
}
body {
  /* background: var(--Moderate_white); */
  width: 100%;
  height: 100vh;
  cursor: url(./assets/img/mycursor2.png), default;
  position: relative;
}

.transition-2 {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: darkblue;
  transition: 1s ease-out;
  opacity: 0;
}

.transition-2.is-active {
  left: 0px;
  opacity: 1;
}

/* animation du curseur */
.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(135, 133, 133);
  border-radius: 50%;
  position: absolute;
  /* propriété qui définit si l'élément réagit ou non aux événements de pointeur.  */
  pointer-events: none;
  mix-blend-mode: difference;
  animation: animCurseur 1500ms alternate infinite;
  z-index: 3;
}
@keyframes animCurseur {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
.curseur::after {
  content: '';
  width: 20px;
  height: 20px;
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  animation: animCurseur2 1500ms alternate infinite;
}
@keyframes animCurseur2 {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(3);
    opacity: 1;
  }
}
.expand {
  animation: curseur1 0.5s forwards;
  border: 5px solid rgb(255, 0, 0);
}
@keyframes curseur1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* Menu hamburger */
.ham {
  position: fixed;
  z-index: 2;
  bottom: 4rem;
  right: 2rem;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(./assets/svg/menu.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
/* image de la croix du menu hamburger */
.showClose {
  background-image: url(./assets/svg/croix2.svg);
  background-repeat: no-repeat;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  /* par défaut, cache le menu en dessous de l'écran */
  transform: translateY(-100%);
  transition: 0.6s cubic-bezier(0.13, 0.3, 0.9, 1);
  z-index: 1;
  opacity: 0;
  /* transition: 1s ease; */
}
.showNav {
  /* Montre le menu */
  transform: translateY(0);
  opacity: 1;
}
/* Mise en forme du menu */
.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.navbar ul li {
  text-align: center;
}
.menuLink {
  color: var(--Moderate_white);
  border-bottom: 2px solid black;
  text-decoration: none;
}
/* rendre visible le menu de la page html active */
.menuLink.active {
  color: var(--saumon);
}
.navbar ul li a:hover,
.navbar ul li a:focus {
  border-bottom: 2px solid var(--saumon);
  color: var(--saumon);
}
#accueil {
  text-align: center;
  width: 90%;
  height: 95vh;
  margin: auto;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  align-items: center;
}
.container{
  text-align: center;
}
.divTitreMobile{
  color: red;
  text-align: center;
}
.main {
  height: 95vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.diapo{
  height: 86vh;
  width: 90%;
  border: 1px solid black;
  margin: 1vh auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 3px black;
  background-color: var(--Moderate_white);
}
.footer {
  height: 5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: var(--Moderate_white);
  text-align: center;
  border-top: 2px solid var(--Moderate_white);
}
/* Menu version desktop */
@media only screen and (min-width: 1100px) {
  body{
    background-color: white;
  }
  .ham {
    display: none;
  }
  .navbar {
    position: relative;
    height: 7vh;
    display: block;
    transform: translateY(0);
    opacity: 1;
  }
  .navbar ul {
    flex-flow: row;
    justify-content: center;
  }
  .navbar ul li {
    text-align: center;
    margin: auto 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .menuLink.active {
    color: var(--Moderate_white);
    background-color: var(--saumon);
    transition: 0.3s;
    border-bottom: 4px solid var(--saumon);
  }
  .navbar ul li a {
    border-bottom: 4px solid black;
    line-height: 7vh;
    font-size: 0.8vw;
    padding: 0 1rem;
  }
  .navbar ul li a:hover,
  .navbar ul li a:focus {
    color: black;
    background-color: var(--Moderate_white);
    border-bottom: 4px solid var(--saumon);
    transition: 0.3s;
  }
  #accueil {
    text-align: center;
    width: 90%;
    height: 88vh;
    margin: auto;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    align-items: center;
  }
  .containerPrincipal {
    height: 88vh;
    display: flex;
  }
  .container {
    width: 90vw;
    display: flex;
    margin: auto;
  }
  .diapo {
    height: 80vh;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    border: 1px solid black;
    box-shadow: 0px 0px 6px black;
    background-color: var(--Moderate_white);
    overflow: hidden;
    /* padding: 50px; */
  }
  .diapo h2 {
    font-size: 2vw;
    position: absolute;
    left: 50%;
    top: 2.5vh;
    transform: translateX(-50%);
  }
  .diapo.isActive h2 {
    text-decoration: underline;
    font-style: italic;
  }
  .diapo p {
    opacity: 0;
    font-size: 2vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,calc(-50% + 2.5vh));
    width: 90%;
    height: max-content;
    text-align: center;
  }
  .diapo.isActive {
    flex: 5;
  }
  .diapo.isActive p, .diapo.isActive video, .diapo.isActive img {
    opacity: 1;
    transition: 0.4s ease-in;
  }
  video {
    opacity: 0;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,calc(-50% + 2.5vh));    
    height: 80%;
    border-radius: 5px;
    box-shadow: 0 0 6px black;
    display: none;
  }
  .diapo.isActive video{
    display: block;
  }
  img{
    opacity: 0;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,calc(-50% + 2.5vh));    
    max-height: 80%;
    max-width: 90%;
    border-radius: 5px;
    box-shadow: 0 0 6px black;
  };
}
